/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap'); */

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto; 
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style-type: none; 
}

.header{
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.headerLogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.headerlinklist{
    display: flex;
    gap: 20px;
}

.aboutPage{
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 100px;
}

.awesome{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900; 
}

.secondarytext{
    font-size: 18px;
    color: #e5e7eb
}


.leftcontent, .rightcontent{
    
    flex-shrink: 0;
    width: 450px
}

.rightcontent{
    padding-right:50px;
}



.rightcontent img{
    width: 500px;
    height: auto;
    border: 2px solid rgb(252, 252, 253);

}

.aboutPage button{
    margin-top:10px;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    background:#3882f6;
    font-weight: 700;
    font-size: 18px;
    width: 150px;

    
}
.randominfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.randomtext{
    font-weight: 900;
    font-size: 36px;
    margin: 50px;
    color: #1f2937;
}

.info{
    width: 200px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.image{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    
}

.info img{
    width: 150px;
    height: 150px;
    
    border: 2px solid green;
    border-radius: 8px;
    
}

.quote{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    align-items: center;
    padding: 100px;
    
}





.quoteContent{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    width: 800px;
    
    
}

.quoteauthor{
    font-weight: bold;
    align-self: flex-end;
    padding-right: 140px;
}


.callToaction{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 80px 150px;
    border-radius: 8px;
    height: 100px;
}

.leftaction{
    display: flex;
    flex-direction: column;
}
.top{
    font-size: 24px;
    font-weight: 700;
}
.callToaction button{
    margin-top:10px;
    color: #e5e7eb;
    border-radius: 8px;
    border: 2px solid #e5e7eb;
    background:#3882f6;
    font-weight: 700;
    font-size: 18px;
    width: 150px;

    
}

.footer{
    
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    height: 40px;
    display: grid;
    place-items: center;
   

    
}

